h1 header{
    font-size: 3em;
    color: #333333;
    width: 60%;
}
header {
    text-align: center;
    margin-bottom: 50px;
    background-color: #333333;
}
body{
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #333333;
}