body {
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.header-container{
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    background-color: #000000;
}
.avatar-name {
    display: flex;
    align-items: center;
    gap: 0px;
}
.avatar-name img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 24px;
    padding-right: 24px;
}
.header-container h1, a.header-link {
    color: white;
    font-family: lato, sans-serif;
    font-size: 1.2em;
    font-weight: bold;
}
.nav-links{
    display: flex;
    align-items: center;
    gap: 40px;
    margin-right: 40px;
}
.home{
    background-color: #272727;
    color: white;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
    justify-content: center;
}
.home h2, p{
    font-family: lato, sans-serif;
    margin: 0px;
    text-align: center;
}
.intro{
    font-size: 3em;
    letter-spacing: 3px;
}
.description{
    font-size: 1.4em;
    letter-spacing: 1px;
    padding-left: 18%;
    padding-right: 18%;
}
.social-links{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding-left: 0px;
}
.social-icon{
    display: block;
    width: 40px;
    height: auto;
}
ul{
    list-style-type: none;
}
li a{
    text-decoration: none;
}
#torn_icon{
    filter: invert(100%);
}
@media (max-width: 768px) {
    .nav-links{
        display: none;
    }
}