html{
    scroll-behavior: smooth;
}
body {
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.header-container{
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    background-color: #000000;
}
.avatar-name {
    display: flex;
    align-items: center;
    gap: 0px;
}
.avatar-name img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 24px;
    padding-right: 24px;
}
.header-container h1, a.header-link {
    color: white;
    font-family: lato, sans-serif;
    font-size: 1.2em;
    font-weight: bold;
}
.nav-links{
    display: flex;
    align-items: center;
    gap: 40px;
    margin-right: 40px;
}
.home{
    background-color: #272727;
    color: white;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
    justify-content: center;
}
h2, h3, p, strong, li{
    font-family: lato, sans-serif;
    margin: 0px;
    text-align: center;
}
.intro{
    font-size: 3em;
    letter-spacing: 3px;
}
.description{
    font-size: 1.4em;
    letter-spacing: 1px;
    padding-left: 18%;
    padding-right: 18%;
}
.social-links{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding-left: 0px;
}
.social-icon{
    display: block;
    width: 40px;
    height: auto;
}
ul{
    list-style-type: none;
}
li a{
    text-decoration: none;
}
#torn_icon{
    filter: invert(100%);
}
.about{
    height: 775px;
    background-color:#000000;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    gap: 4%;
}
.section-title, .subsection-title{
    font-size: 1.5em;
    letter-spacing: 3px;
    text-align: center;
}
.about p{
    font-size: 1.2em;
    letter-spacing: 2px;
}
.about-me-info{
    display: flex;
    gap: 10%;
    justify-content: center;
    align-items: center;
}
.about-left{
    display: flex;
    flex-direction: column;
    gap: 10%;
    justify-content: center;
    max-width: 50%;
}

.skills-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    padding: 0;
    margin: 0;
}
.skill{
    background: transparent;
    text-align: center;
    justify-content: center;
}
.skill > strong{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
    color: #f3f3f3;
    font-size: 1.05em;
    padding: 5px 8px;
    background: #5e5e5e;
    border-radius: 6px;
    height: 39px;
}
.listed-skills{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px 12px;
}
.listed-skill{
    background: #4b4b4b;
    color: #ddd;
    padding: 6px 10px;
    border-radius: 6px;
    font-size: 0.95em;
}
#objective{
    padding-bottom:5%;
}
.about h2, h3{
    margin-bottom: 4%;
}
@media (max-width: 768px) {
    .nav-links{
        display: none;
    }
}