h1{
    font-size: xx-large;
    color: #ffffff;
    margin: 0px;
}
p{
    font-size: medium;
    color: #ffffff;
}
body{
    font-family: Helvetica, Arial, sans-serif;
    margin: 20px;
    background-color: #333333;
}
.container{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.avatar{
    width: 60%;
    max-width: 100%;
    height: auto;
    padding-left: 40px;
}
.header{
    width: 152%;
}