h1 header{
    font-size: 40vw;
    color: #ffffff;
    width: 60%;
}
p header{
    font-size: 5vw;
    color: #ffffff;
    width: 60%;
}
header {
    text-align: left;
    margin-left: 40px;
    margin-bottom: 50px;
    background-color: #333333;
}
body{
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #333333;
}